**/target
**/.mvn
**/HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### UI ###
.angular

# Node modules
node_modules/

# Build output
dist/

# Environment specific files
src/environments/*.ts

# Editor/IDE specific files
.vscode/
.idea/

# Temporary files
*.log
*.tmp
*.cache


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
